{
  "$schema": "https://schema.railpack.com",
  "provider": "node",
  "packages": {
    "node": "22",
    "npm": "10.9.2"
  },
  "steps": {
    "install": {
      "commands": ["...", "npm install --prefix server", "npm install --prefix client"]
    },
    "build": {
      "commands": ["...", "npm run build --prefix client"]
    }
  },
  "deploy": {
    "startCommand": "node server/src/index.js"
  }
}
